html,
body,
main {
  width: 100%;
  height: 100%;
}

main {
  background-image: url("./119841-glowing-lines-dark-background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.buttons-box button {
  width: 50px;
  border-radius: 0;
  margin-left: 0;
}
.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: 0px;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}
